{% extends "base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block nav %}{% include 'nav.html' %}{% endblock %}

{% block content %}

<div class="row">

    <div class="offset-md-2 col-md-8 pt-3">

        {% include '_flashmessages.html' %}
        
        {% if post.image %}
        <div class="container pt-3">
            <img src="{{ url_for('static', filename='images/uploads/' + post.image + '.lg.png') }}" class="img-fluid" />
        </div>
        {% endif %}

        <h4 class="text-muted  pt-3 text-center ">Referace API Name : {{ post.title }}</h4>
    </br>
        <h5>1.ข้อมูลเบื้องต้น</h5>
        <div class="container bg-light  pt-3 ">
            <div class="row">
                <div class="col-4">รายละเอียดข้อมูล (Details):</div>
                <div class="col-8">{{ post.body|markdown }}</div>
            </div>
            <div class="row">
                <div class="col-4">เจ้าของข้อมูล (Data Owner):</div>
                <div class="col-8">{{ post.goverment}}</div>
            </div>
        </div>
    </br>
        <h5>2.ข้อมูลการใช้งาน</h5>
        <div class="container bg-light pt-3 ">
            <div class="row">
                <div class="col-4">URL:</div>
                <div class="col-8">{{post.api_url}}</div>
            </div>
            <div class="row">
                <div class="col-4"></br></div>
                <div class="col-8"></br></div>
            </div>
            <div class="row">
                <div class="col-4">Service Type: </div>
                <div class="col-8">REST/JSON</div>
            </div>
            <div class="row">
                <div class="col-4">Metod: </div>
                <div class="col-8">GET</div>
            </div>
        </div>
    </br>
        <h5>API Parameters</h5>
        <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Parameter</th>
                <th scope="col">Type</th>
                <th scope="col">Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
        </table>
    </br>
        <h5>3.ตัวอย่างการใข้งาน</h5>
        <div class="container bg-light ">
            <div class="row bg-dark text-white">
                <div class="col">REQUEST</div>
                <div class="col">RESPONSE</div>             
            </div>
            <div class="row">
                <div class="col"></br></div>
                <div class="col"></br></div>    
            </div>
            <div class="row">
                <div class="col-sm-6"> {{post.api_request}} </div>
                <div class="col-sm-6"> {{post.api_response}} </div>
            </div>    
        </div>
       
    </br>
  
<hr />
<div class="text-muted">
    Posted by {{ post.goverment.name }} on {{ post.publish_date.strftime('%Y-%m-%d') }}
    {% if post.category %}
    in  <a href="{{ url_for('.categories', category_id=post.category.id ) }}">
        {{ post.category.name }}
        </a>
    {% endif %}
    &nbsp;[{% for tag in post.tags %}
        <a href="{{ url_for('.tags', tag=tag.name )}}">{{ tag }}</a>
        {% if not loop.last %},{% endif %}
    {% endfor %}]  
    {% if session.id %}
    - <a href="{{ url_for('.edit', slug=post.slug) }}">Edit</a>
    - <a href="{{ url_for('.delete', slug=post.slug) }}">Delete</a>
    {% endif %}
</div>
    </div>

</div>
</br>

{% endblock %}
