{% extends "base.html" %}

{% block title %}{{ title }} - {{ config['BLOG_NAME'] }}{% endblock %}

{% block nav %}{% include 'nav.html' %}{% endblock %}

{% block content %}

<div class="row">

  <div class="offset-md-2 col-md-8 pt-5">

    {% include '_flashmessages.html' %}

    <h4>{{ detail_id}}</h4>

    {% if detail_id == 1 %}
      <h4>{{ detail_id }}</h4>
    {% elif detail_id == 2 %}
      <h4>{{ detail_id }}</h4>
    {% elif detail_id == 3 %}
      <h4>{{ detail_id }}</h4>
    {% else %}
      <h4>{{ detail_id }}</h4>
    {% endif %}
  </div>

</div>

<div class="row">

  <div class="offset-md-2 col-md-8 pt-5">
 
  </div>

</div>
{% endblock %}
