{% extends "base.html" %}

{% block title %}Blog Post{% endblock %}

{% block nav %}{% include 'nav.html' %}{% endblock %}

{% block content %}

<div class="row">

    <div class="offset-md-2 col-md-8">

        {% if action=="new" %}
        <h3>New Blog Post</h3>
        {% else %}
        <h3>Edit Blog Post</h3>
        {% endif %}
        
        {% from "_formhelpers.html" import render_field %}
   
        {% if action=="new" %}
        <form method="POST" action="{{ url_for('.post') }}" enctype="multipart/form-data" role="form">
        {% else %}
        <form method="POST" action="{{ url_for('.edit', slug=post.slug) }}" enctype="multipart/form-data" role="form">
        {% endif %}

            {{ form.hidden_tag() }}
            
            {% if post and post.image %}
            <img src="{{ url_for('static', filename='images/uploads/' + post.image + '.sm.png') }}" class="img-thumbnail" />
            {% endif %}            

            {{ render_field(form.image, class='form-control') }}
            {{ render_field(form.title, class='form-control') }}
            {{ render_field(form.body, class='form-control', rows=5) }}
            {{ render_field(form.category, class='form-control') }}
            {{ render_field(form.new_category, class='form-control') }}
            {{ render_field(form.goverment, class='form-control') }}
            {{ render_field(form.api_url, class='form-control') }}
            <div class="card">
                <div class="card-header">
                    New Parameter
                </div>
                <div class="card-body">
                    <div class="container">
                            {{ render_field(form.new_parameter, class='form-control') }}
                            {{ render_field(form.new_type, class='form-control') }}
                            {{ render_field(form.new_desctiption, class='form-control') }}   
                            <div data-toggle="fieldset" id="email-fieldset">
             
                                    <table class="ui table">
                                        <thead>
                                        <th>Parameter</th>
                                        <th>Type</th>
                                        <th>Des.</th>
                                        <th>
                                           add
                                        </th>
                                        </thead>
                                        <tbody>
                                        {% for e in form.email %}
                                            <tr data-toggle="fieldset-entry">
                                                <td>{{ e.network }}</td>
                                                <td>{{ e.address }}</td>
                                                <td>
                                                    {{ form_button(url_for('main.remove_email',
                                                            id=loop.index), icon ('remove')) }}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                    </div>        
                </div>
            </div>
                
            

            <div class="row">
                <div class="col">
                    {{ render_field(form.api_request, class='form-control', rows=5) }}
                </div>
                <div class="col">
                    {{ render_field(form.api_response, class='form-control', rows=5) }}
                </div>
            </div>         
           
            <div class="form-group">
                <label for="tags_field">Tags</label>        
                <input class="form-control" id="tags_field" name="tags_field" type="text" value="{{ tags_field }}">
            </div>

            {% if action=="new" %}
            <button type="submit" class="btn btn-primary">Post</button>
            <button type="submit" class="btn btn-primary">Next</button>
            {% else %}
            <button type="submit" class="btn btn-primary">Update</button>
            {% endif %}
        </form>
    </br>
    </div>
    
</div>
{% endblock %}